<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    .hide {
        display: none;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<button id="start">start</button>
<button id="stop">stop</button>
<input id="i1" type="text" disabled/>


<div id="content">
    <h1>Hello world</h1>
</div>
<script src="../../js/jquery.js">

</script>
<script src="../../js/jquery.min.js"></script>
<script src="../../layui/layui.all.js" charset="utf-8"></script>
<script src="../../layer/layer/layer.js"></script>
<script src="../../js/jquerysession.js"></script>
<script type="application/javascript">
    $(function () {
        $("#start").on('click', function () {
            $('h1').animate({fontSize : '+=10px'})
        })
    })
</script>
</body>
</html>