@import url(/resources/commons/css/fonts.css);
/* Base */
* {margin:0; padding:0; font-family:"Nanum Gothic", "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif, Arial;}
ul, ol, dl, li, dt, dd {list-style: none; margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {padding:0; margin:0;}
p {text-align:justify; padding:0; margin:0;}
img {border:none;}
form, fieldset, button {border:none; margin:0; padding:0;}
a {text-decoration:none;}
a:link, a:visited {color:#444444; text-decoration: none; }
a:hover, a:active, a:focus {text-decoration:underline;}
hr {display:none; margin:0; padding:0;}
html:first-child select {padding-right:6px; height:20px;} /* Opera 9 & Below Fix */ 
option {padding-right:6px;} /* Firefox Fix */

body {height:100%;width:100%;font-size:75%;}
html {height:100%;width:100%;}

.icon-rap-ethernet-master{
	position:absolute;
	background:url(/resources/commons/images/map/icon_rap_ethernet_master_20x20.png) no-repeat; width:20px; height:20px;
}
.icon-rap-ethernet-slave{
	position:absolute;
	background:url(/resources/commons/images/map/icon_rap_ethernet_slave_20x20.png) no-repeat; width:20px; height:20px;
}
.icon-rap-ethernet-dead{
	position:absolute;
	background:url(/resources/commons/images/map/icon_rap_ethernet_dead_20x20.png) no-repeat; width:20px; height:20px;
}
.icon-rap-ethernet-selected{
	position:absolute;
	background:url(/resources/commons/images/map/icon_rap_ethernet_selected_20x20.png) no-repeat;width:20px;height:20px;
}
.icon-rap-ethernet-error{
	position:absolute;
	background:url(/resources/commons/images/map/icon_rap_ethernet_error_20x20.png) no-repeat;width:20px;height:20px;
}
.icon-rap-wifi-master{
	position:absolute;
	background:url(/resources/commons/images/map/icon_rap_wifi_master_20x20.png) no-repeat; width:20px; height:20px;
}
.icon-rap-wifi-slave{
	position:absolute;
	background:url(/resources/commons/images/map/icon_rap_wifi_slave_20x20.png) no-repeat; width:20px; height:20px;
}
.icon-rap-wifi-dead{
	position:absolute;
	background:url(/resources/commons/images/map/icon_rap_wifi_dead_20x20.png) no-repeat; width:20px; height:20px;
}
.icon-rap-wifi-selected{
	position:absolute;
	background:url(/resources/commons/images/map/icon_rap_wifi_selected_20x20.png) no-repeat;width:20px;height:20px;
}
.icon-rap-wifi-error{
	position:absolute;
	background:url(/resources/commons/images/map/icon_rap_wifi_error_20x20.png) no-repeat;width:20px;height:20px;
}
.icon-rap-lte-master{
	position:absolute;
	background:url(/resources/commons/images/map/icon_rap_lte_master_20x20.png) no-repeat; width:20px; height:20px;
}
.icon-rap-lte-slave{
	position:absolute;
	background:url(/resources/commons/images/map/icon_rap_lte_slave_20x20.png) no-repeat; width:20px; height:20px;
}
.icon-rap-lte-dead{
	position:absolute;
	background:url(/resources/commons/images/map/icon_rap_lte_dead_20x20.png) no-repeat; width:20px; height:20px;
}
.icon-rap-lte-selected{
	position:absolute;
	background:url(/resources/commons/images/map/icon_rap_lte_selected_20x20.png) no-repeat;width:20px;height:20px;
}
.icon-rap-lte-error{
	position:absolute;
	background:url(/resources/commons/images/map/icon_rap_lte_selected_20x20.png) no-repeat;width:20px;height:20px;
}

#prebuild-selectable { list-style-type: none; margin: 0; padding: 0;}
#prebuild-selectable .ui-selecting { border: 1px solid #0073ea; background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff;}
#prebuild-selectable .ui-selected { background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold;}
#prebuild-selectable li {margin: 0 0 0 2px; padding:2px 4px 2px 4px; font-size: 11px; float: left; text-align: center; min-width: 28px}
#prebuild-selectable li img{vertical-align: middle}

#view-selectable { list-style-type: none; margin: 0; padding: 0;}
#view-selectable .ui-selecting { border: 1px solid #0073ea; background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff;}
#view-selectable .ui-selected { background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold;}
#view-selectable li {margin: 0 0 0 2px; padding:2px 4px 2px 4px; font-size: 11px; float: left; vertical-align: middle; text-align: center; min-width: 28px}
#view-selectable li img{vertical-align: middle}

#layout-selectable { list-style-type: none; margin: 0; padding: 0;}
#layout-selectable .ui-selecting { border: 1px solid #0073ea; background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff;}
#layout-selectable .ui-selected { background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; color: #ffffff; text-decoration: none; }
#layout-selectable li {margin: 0 0 0 2px; padding:4px 4px 0px 4px; font-size: 11px; float: left; vertical-align: bottoom; text-align: center; min-width: 28px}

#memubar {vertical-align: middle;}

.outer-layout-west {overflow: auto; }
.outer-layout-north {overflow: hidden; }
.inner-layout-center {overflow: auto;}
.inner-layout-south {
	padding: 0 !important;
	text-align: center;
	overflow: auto;
}
.header { 
	background: #000000;
	border-bottom: 1px solid #777;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
	padding: 5px;
	color: #fff
}

.menu-selectable { list-style-type: none; margin: 0; padding: 0;}
.menu-selectable .ui-selecting { border: 1px solid #0073ea; background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff;}
.menu-selectable .ui-selected { background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; color: #ffffff; text-decoration: none; }
.menu-selectable li { margin: 1px; padding: 5px; font-size: 11px; vertical-align: middle; min-width: 120px; text-align: left; border: 1px solid #eaeaea;}

.horizontal-selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.horizontal-selectable .ui-selecting { border: 1px solid #0073ea; background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff;}
.horizontal-selectable .ui-selected { background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; color: #ffffff; text-decoration: none; }
.horizontal-selectable li { margin-left: 2px; padding: 0.4em; font-size: 11px; float: left; vertical-align: middle; min-width: 40px; cursor: pointer;}

.vertical-selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.vertical-selectable .ui-selecting { border: 1px solid #0073ea; background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff;}
.vertical-selectable .ui-selected { background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; color: #ffffff; text-decoration: none; }
.vertical-selectable li { margin: 3px; padding: 0.4em; font-size: 1.1em; height: 30px;}


.edit-fields {border-collapse:collapse; width:100%; border: 1px solid #dddddd;}
.edit-fields p {clear: both; padding-left: 5px; padding-top: 2px}
.edit-fields img {vertical-align: baseline;text-align: center; }
.edit-fields label {
	width:140px; display: block; float: left;
	border: 1px solid #dddddd; background: #f6f6f6 url(/resources/commons/css/flick/images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x; 
	font-weight: bold; color: #9D4B0F;
	text-align:center;
	padding: 5px 5px 5px 5px;  
}
.edit-fields span {vertical-align: middle;}
.edit-fields input { background-color:#ffffff;border:1px solid #dcdcdc;color:#666666; font-size:12px; padding:5px;}
.edit-fields select { background-color:#ffffff;border:1px solid #dcdcdc;color:#666666; font-size:12px; padding:5px;}
.edit-fields .labels {
	width:120px; 
	border: 1px solid #d1d1d1;
	font-weight: bold;
	color: #444444;
	text-align:center;
	padding: 5px 5px 5px 5px;
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #efefef 49%, #e1e1e1 84%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(49%,#efefef), color-stop(84%,#e1e1e1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#efefef 49%,#e1e1e1 84%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#efefef 49%,#e1e1e1 84%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#efefef 49%,#e1e1e1 84%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#efefef 49%,#e1e1e1 84%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
}
.edit-fields .input-readonly { background-color:#dadada; border:1px solid #dcdcdc; color:#666666; font-size:12px; padding:5px; }

.edit-list {border-collapse:collapse; width:100%; text-align:center;}
.edit-list th {
	height:30px; font-size:11px; 
	border:1px solid #d1d1d1;
	color: #2c2c2c; 
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #efefef 49%, #e1e1e1 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(49%,#efefef), color-stop(50%,#e1e1e1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#efefef 49%,#e1e1e1 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#efefef 49%,#e1e1e1 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#efefef 49%,#e1e1e1 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#efefef 49%,#e1e1e1 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
}
.edit-list td {border:1px solid #e1e1e1; padding:3px 0 ;}

#map-viewport-barrier{
	position : absolute;
	padding:0px;
	margin:0px;
	left : 17px;
	top : 17px;
}    

#viewport-report {
	padding : 10px;
}
#viewport-report h1 {font-size: 40px; font-weight: bold; text-align: center;}
#viewport-report h2 {font-size: 20px; font-weight: bold; padding-left: 10px; padding-bottom: 10px;}
#viewport-report h3 {font-size: 16px; font-weight: bold; padding-left: 20px; padding-bottom: 15px;}
#viewport-report .page{
	width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#viewport-report .report-table {border-collapse:collapse; width:100%; text-align:center;}
#viewport-report .report-table th {
	height:30px; font-size:11px; 
	border:1px solid #d1d1d1;
	color: #2c2c2c; 
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #efefef 49%, #e1e1e1 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(49%,#efefef), color-stop(50%,#e1e1e1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#efefef 49%,#e1e1e1 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#efefef 49%,#e1e1e1 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#efefef 49%,#e1e1e1 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#efefef 49%,#e1e1e1 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
}
#viewport-report .report-table td {border:1px solid #e1e1e1; padding:3px 0 ;}

.sector-rate {
	width:30px;
	height:15px;
	float:left;
	margin-right:2px;
	font-size:8px;
	text-align: center;
	padding-top: 6px;
	border:1px solid #d1d1d1;
}
.sector-tag {
	width:80px;
	height:18px;
	float:left;
	font-size:8px;
	text-align: center;
	padding-top: 2px;
	border:1px solid #d1d1d1;
}
.sync-rate {
	width:40px;
	height:15px;
	float:right;
	font-size:8px;
	text-align: center;
	padding-top: 3px;
	border:1px solid #d1d1d1;
}

#viewport-report {
	padding : 10px;
}
#viewport-expansion h1 {font-size: 40px; font-weight: bold; text-align: center;}
#viewport-expansion h2 {font-size: 20px; font-weight: bold; padding-left: 10px; padding-bottom: 10px;}
#viewport-expansion h3 {font-size: 16px; font-weight: bold; padding-left: 20px; padding-bottom: 15px;}
#viewport-expansion .page{
	width: 210mm;
    min-height: 200mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

