.plan-selectable { list-style-type: none; margin: 0; padding: 0;}
.plan-selectable .ui-selecting { border: 1px solid #0073ea; background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff;}
.plan-selectable .ui-selected { background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; color: #ffffff; text-decoration: none; }
.plan-selectable li { margin: 1px; padding: 5px; font-size: 11px; vertical-align: middle; width: 95%; text-align: left; border: 1px solid #eaeaea;}


.menu-selectable { list-style-type: none; margin: 0; padding: 0;}
.menu-selectable .ui-selecting { border: 1px solid #0073ea; background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff;}
.menu-selectable .ui-selected { background: #0073ea url(/resources/commons/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; color: #ffffff; text-decoration: none; }
.menu-selectable li { margin: 1px; padding: 5px; font-size: 11px; vertical-align: middle; width:44%; text-align: left; border: 1px solid #eaeaea;}

.outer-layout-west {overflow-x: hidden; overflow-y: auto; padding-left: 10px; padding-right: 10px; padding-top: 10px;}
.inner-layout-north {overflow: hidden; background-color: #eaeaea; padding: 4px }
.inner-layout-center {overflow: auto; vertical-align: middle; padding-top: 10px}
.inner-layout-south {
	padding: 0 !important;
	text-align: center;
	overflow: hidden;
}

.console {
	width: 100%;
	height: auto;
	overflow : scroll;
}
.console_header { 
	background: #000000;
	border-bottom: 1px solid #777;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	padding: 5px;
	position: relative;
	overflow: hidden;
	color: #fff
}
.console_table  {border-collapse:collapse; width:100%; text-align:center; border-bottom:1px solid #000000;table-layout:fixed}
.console_zonename {text-align:left;padding-left:10px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.console_table  td{border-left:1px solid #000000;font-size: 12px}

