@import url(/resources/commons/css/fonts.css);
/* Base */
* {margin:0; padding:0; font-family:"Nanum Gothic", "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif, Arial;}
ul, ol, dl, li, dt, dd {list-style: none; margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {padding:0; margin:0;}
p {text-align:justify; padding:0; margin:0;}
img {border:none;}
form, fieldset, button {border:none; margin:0; padding:0;}
a {text-decoration:none;}
a:link, a:visited {color:#444444; text-decoration: none; }
a:hover, a:active, a:focus {text-decoration:underline;}
hr {display:none; margin:0; padding:0;}
html:first-child select {padding-right:6px; height:20px;} /* Opera 9 & Below Fix */ 
option {padding-right:6px;} /* Firefox Fix */

body {height:100%;width:100%; font-size:75%; line-height:18px; color:#7e7e7e; text-align:center;}
html {height:100%;width:100%;}

.console {
	width: 100%;
	height: auto;
	overflow : scroll;
}
.console_table  {border-collapse:collapse; width:100%; text-align:center; border-bottom:1px solid #000000;table-layout:fixed}
.console_zonename {text-align:left;padding-left:10px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.console_table  td{border-left:1px solid #000000;font-size: 12px}

