<div id='model-li-hide-74' class='display-component-container layui-row'
     style='min-width: 800px;padding: 10% 40px 40px 40px;'>
    <meta charset='UTF-8'>
    <link rel='stylesheet' href='../layui/css/layui.css' media='all'>
    <title>test</title>
    <style type='text/css'>

    </style>
    <div>
        <h1>Hello world2!</h1>
    </div>
    <script src='https://cdn.bootcss.com/jquery/3.3.1/jquery.js'></script>
    <script src='../js/jquery.min.js'></script>
    <script src='../layui/layui.all.js' charset='utf-8'></script>
    <script src='../layer/layer/layer.js'></script>
    <script src='../js/Chart.js'></script>
    <script src='../js/home.js'></script>
    <script type='application/javascript'>
    </script>
</div>