<div id='model-li-hide-24' class="display-component-container" style="padding: 20px 20px 0px 20px;">
        <style type="text/css">  
         td 
         {
            color: #0b0b13;
        } 
        
       
        .select_span
        {
            color: rgb(51, 51, 51);
            border-bottom: 3px solid #569196;
            padding-bottom: 14px;
            font-size: 14px;
            font-weight:700;
            cursor: hand;
        }
        #_24table tr td,#_24table1 tr td {
            color : #fff;
            font-size: 13px;
            text-align:center;
            padding: 0;
            border:1px solid gray;

        }
        
        .dark-grey1 {
            background: rgba(75, 75, 75, 0.9);
        }
        .light-grey1 {
            background: rgba(102, 102, 102, 0.9);
        }

        #_24table,#_24table1
        {
            border-collapse: collapse;   
        }

        
        </style>
<!--上-->
<div class="block-quote">
    <div class="fl">
        <span class="select_span">金驰622</span>
        <!--<input type="button" onclick="turnPage1()" id="select_1" value="金驰622">-->
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="select_span">天齐碳酸锂</span>
        <!--<input type="button" onclick="turnPage2()" id="select_2" value="天齐碳酸锂">-->
        &nbsp;&nbsp;&nbsp;&nbsp;
        <select>
            <option>未发布</option>
            <option>已发布</option>
        </select>
    </div>
    <div class="fr">
            <p>
                <a href="#"><i class="layui-icon">&#x1002;</i>刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <input placeholder="请输入批号"/>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">搜索</a>
            </p>
    </div>
</div>
<!--留白-->
<div class="whitespace"></div>

<!--中-->
    <!--金驰622-->
    <table id="_24table" style="width:100%;">
    <thead>
        <!--第一行-->
        <tr class="dark-grey1" style="font-weight: bold;">
            <td rowspan="2">操作</td>
            <td rowspan="2">发布人</td>
            <td rowspan="2">检测日期</td>
            <td rowspan="2">厂家批号</td>
            <td rowspan="2">内部编号</td>
            <td rowspan="2">生产日期</td>
            <td>数量</td>
            <td rowspan="2">判定</td>
            <td>振实密度</td>
            <td>水分</td>
            <td>SSA</td>
            <td>pH值</td>
            <td>粒度（µm）</td>
            <td>筛上物</td>
            <td>Ni+Cu+Mn</td>
            <td>Co</td>
            <td>Mn</td>
            <td>Ni</td>
            <td>Na</td>
            <td>Mg</td>
            <td>Ca</td>
            <td>Fe</td>
            <td>Cu</td>       
        </tr>
        <!--第二行-->
        <tr class="dark-grey1" style="font-weight: bold;">
            <td>t</td>
            <td>g/cm3</td>
            <td>%</td>
            <td>m2/g</td>
            <td>/</td>
            <td>D50</td>
            <td>%</td>
            <td>%</td>
            <td>%</td>
            <td>%</td>
            <td>%</td>
            <td>ppm</td>
            <td>ppm</td>
            <td>ppm</td>
            <td>ppm</td>
            <td>ppm</td> 
        </tr>
        <!--第3行-->
        <tr class="light-grey1">
            <td></td>
            <td colspan="7">控制采购标准-2016-11-21</td>
            <td>>=2.0</td>
            <td><=1.0</td>
            <td>4.0~7.0</td>
            <td>7.0~9.0</td>
            <td>9.8~10.5</td>
            <td><=0.3</td>
            <td>60-64</td>
            <td>12.2-13.0</td>
            <td>11.6-12.2</td>
            <td>37.6-38.8</td>
            <td>≤120</td>
            <td>≤100</td>
            <td>≤200</td>
            <td>≤50</td> 
            <td>≤50</td> 
        </tr>
        <!--第4行-->
        <tr class="light-grey1">
            <td></td>
            <td colspan="7">2017.07.01采购标准</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
        </tr>
    </thead>
    </table>
<br><br>
<!--天齐碳酸锂-->
<table id="_24table1" style="width:100%;">
    <thead>
        <!--第一行-->
        <tr class="dark-grey1" style="font-weight: bold;">
            <td rowspan="2">操作</td>
            <td rowspan="2">发布人</td>
            <td rowspan="2">检测日期</td>
            <td rowspan="2">厂家批号</td>
            <td rowspan="2">生产日期</td>
            <td rowspan="2">判定</td>
            <td>数量</td>
            <td>水分</td>
            <td colspan="5">粒度（µm）</td>
            <td>筛上物</td>
            <td colspan="5">磁性物质检测ppb</td>
            <td>Li2CO3</td>
            <td>Na</td>
            <td>Mg</td>
            <td>Ca</td>
            <td>Fe</td>
        </tr>
        <!--第二行-->
        <tr class="dark-grey1" style="font-weight: bold;">
            <td>t</td>
            <td>%</td>
            <td>D1</td>
            <td>D10</td>
            <td>D50</td>
            <td>D90</td>
            <td>D99</td>
            <td>%</td>
            <td>Fe</td>
            <td>Ni</td>
            <td>Cr</td>
            <td>Zn</td>
            <td>总量</td>
            <td>%</td>
            <td>ppm</td>
            <td>ppm</td>
            <td>ppm</td>
            <td>ppm</td>
        </tr>
        <!--第3行-->
        <tr class="light-grey1">
            <td></td>
            <td colspan="6">控制采购标准-2016-11-21</td>
            <td><=0.25</td>
            <td></td>
            <td></td>
            <td>3-7</td>
            <td><=30></td>
            <td>9.8~10.5</td>
            <td><=0.3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><=800</td>
            <td>≥18.66</td>
            <td>≤250</td> 
            <td>≤80</td> 
            <td>≤50</td> 
            <td>≤10</td>
        </tr>
        <!--第4行-->
        <tr class="light-grey1">
            <td></td>
            <td colspan="6">2017.07.01采购标准</td>
            <td><=0.25</td>
            <td></td>
            <td></td>
            <td>3-7</td>
            <td><=30></td>
            <td></td>
            <td><=0.3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><=5800</td>
            <td>≥18.66</td>
            <td>≤250</td> 
            <td>≤80</td> 
            <td>≤50</td> 
            <td>≤10</td>
        </tr>
    </thead>
    </table>

<!--下-->
<div id="_24page"></div>
    <script type="application/javascript">
    /*function turnPage1(){
        var div1 = document.getElementById('select_1')
        var table1 = document.getElementById('_24table')
        table1.style.display = "block"
        var table2 = document.getElementById('_24table1')
        table2.style.display = 'none'
    }
    
    function turnPage2(){
        var div1 = document.getElementById('select_1')
        var table1 = document.getElementById('_24table')
        table1.style.display = "none"
        var table2 = document.getElementById('_24table1')
        table2.style.display = 'block'
    }*/
    </script>
</div>