<div id='model-li-hide-19' class="display-component-container">
        <style>
                #inputData_ltable{
                    display:inline
                }
                #inputData_rtable{
                    display:inline
                }
                td{
                    border:1px gray solid;
                    white-space: nowrap;
                    height: 30px;
                   font-size: 14px;
                }
            </style>


<div id="inputData_top" style="width:100%;height:30px;background:#F8F8F8;line-height:30px;">
        <label id="" style="color:#00A99D;border:0px;float:left;"for="file-input-name">选择Excle文件：</label>
        <form action="" id='uploadForm' enctype="multipart/form-data" style="float:left">
            <input type="file" name="file"/>
            <select name="" id="selectoption">   
            </select>
            <Button type="button" id="openBtn" onclick="turnPage()" style="background:#00A99D;color:white;border:0px;">打开</Button>

        </form>    
       
       
    </div>

    <div class="whitespace"></div>

    <div id="div1">
    <div id="inputData_body1" style="color:#C9C9C9; width:800px;height:600px;line-height:600px;text-align:center;font-size:30px;font-weight:bold">   
        等待数据导入
    </div>
    </div>

    <div id="inputData_body3" style="display:none">
    <div id="inputData_body2" style=" overflow-x: scroll;">
       
    <table id="inputData_rtable" class="table_style" style="border-collapse:collapse;text-align:center;">
        <thead style="color:white;font-weight:bold;font-size:12px;">
            <tr style="background:#4B4B4B; height:30px;">
                <td  rowspan="2"  > 检测日期</td>
                <td  rowspan="2"  >批号</td>
                <td  rowspan="2" >判定</td>
                <td fixed='left'>数量</td>         
                <td>振实密度</td>
                <td>水分</td>
                <td>SSA</td>
                <td>PH值</td>
                <td>Li2CO3</td>
                <td>LiOH</td>
                <td>总Li含量</td>
                <td colspan="6">粒度（µm）</td>
                <td colspan="5">磁性物质检测ppb</td>
                <td>Co</td>
                <td>Mn</td>
                <td>Ni</td>
                <td>Li</td>
                <td>Co</td>
                <td>Mn</td>
                <td>Ni</td>
                <td>Na</td>
                <td>Mg</td>
                <td>Ca</td>
                <td>Fe</td>
                <td>Cu</td>
                <td>Zn</td>
                <td>S</td>
                <td>Al</td>
                <td>0.1C首次放电容量</td>
                <td>0.1C首次效率</td>
                <td>1C首次放电容量</td>
                <td rowspan="2">主原料</td>
            </tr>

            <tr style="background:#4B4B4B;height:30px;">
                 <td >t</td>
                <td>g/cm3</td>
                <td>ppm</td>
                <td>m2/g</td>
                <td>/</td>
                <td>%</td>
                <td>%</td>
                <td>10ppm</td>
                <td>D1</td>
                <td>D10</td>
                <td>D50</td>
                <td>D90</td>
                <td>D99</td>
                <td>粒度宽度系数</td>
                <td>Fe</td>
                <td>Ni</td>
                <td>Cr</td>
                <td>Zn</td>
                <td>总量</td>
                <td>mol%</td>
                <td>mol%</td>
                <td>mol%</td>
                <td>%</td>
                <td>%</td>
                <td>%</td>
                <td>%</td>
                <td>ppm</td>
                <td>ppm</td>
                <td>ppm</td>
                <td>ppm</td>
                <td>ppm</td>
                <td>ppm</td>
                <td>ppm</td>
                <td>ppm</td>
                <td>mAh/g</td>
                <td>%</td>
                <td>mAh%</td>
            </tr>

            <tr style="background:#666666;height:30px;">
                <td colspan="4" >三级控制标准</td>
                <td>>=2.00</td>
                <td><=500</td>
                <td>0.20~0.40</td>
                <td><=11.80</td>
                <td></td>
                <td></td>
                <td><=100</td>
                <td></td>
                <td>>=6.00</td>
                <td>11.00~14.00</td>
                <td><=30.00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><=50</td>
                <td></td>
                <td>7.0±0.5</td>
                <td>12.2±1.0</td>
                <td>11.4±1.0</td>
                <td>12.2±1.0</td>
                <td>11.4±1.0</td>
                <td>36.2±1.0</td>
                <td>≤200</td>
                <td>≤200</td>
                <td>≤200</td>
                <td>≤50</td>
                <td>≤50</td>
                <td>≤50</td>
                <td></td>
                <td>100±300</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr style="background:#666666;height:30px;">
                <td colspan="4" fixed:'left'>2016-3-2三级控制标准</td>       
                <td>2.3-2.7</td>
                <td><=500</td>
                <td>0.22~0.38</td>
                <td><=11.80</td>
                <td><=0.25</td>
                <td><=0.20</td>
                <td><=120</td>
                <td>>=3.00</td>
                <td>>=5.00</td>
                <td>11.30~13.30</td>
                <td><=30.00</td>
                <td><=40.00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><=50</td>
                <td>19.7±0.5</td>
                <td>7.0±0.5</td>
                <td>12.2±1.0</td>
                <td>11.4±1.0</td>
                <td>12.2±1.0</td>
                <td>11.4±1.0</td>
                <td>36.2±1.0</td>
                <td>≤200</td>
                <td>≤200</td>
                <td>≤200</td>
                <td>≤30</td>
                <td>≤20</td>
                <td>≤30</td>
                <td>≤1500</td>                
                <td>100±200</td>
                <td>≥177.5</td>
                <td>≥88.0</td>
                <td>≥162</td>
                <td></td>
            </tr>
        </thead>

        <tbody id="tbody_page">

        </tbody>
    </table>
</div>

<div style="margin-top:30px;width:100%;text-align:center;">
    <input type="button" value="导入数据" id="submitBtn" style="width:80px;height:30px;background:#00A99D;color:white;font-weight:bold;">
    <input type="button" value="取消" id="cancleBtn" style="width:80px;height:30px;background:white;font-weight:bold;color:gray;margin-left:50px;">
</div>
</div>

<script>
    function turnPage () {
                    console.log('hhhh')
                    var div1 = document.getElementById('div1')
                    var div2 = document.getElementById('inputData_body3')
                    div1.style.display = 'none';
                    div2.style.display = 'block'; 
                }
    
    function doUpload(){
        var formData = new FormData($('#uploadForm')[0]);
        var typeCode = $("#selectoption option:selected").val();
        formData.append('typeCode',typeCode)
        $.ajax({
            url:'http://localhost:8080/mes/fileUpload/open',
            type:'POST',
            data:formData,
            async:false,
            cache:false,
            contentType:false,
            processData:false,
            success:function(returndata){
                alert(returndata)
            },
            error:function(returndata){
                alert(returndata)
            }
        });
    }
    
</script>


<script src="../components/js/inputData_manage.js"></script>
<script type="application/javascript">
   $(function () {
    inputData_manage.init()
   })
</script>

   
</div>