<div id='model-li-hide-20' style="padding: 20px 20px 20px 20px;max-height: 100%;overflow-y: auto;min-width: 1120px;"
     class="hide">
    <link rel='stylesheet' href='../layui/css/layui.css' media='all'>
    <link href="../fontawesome/css/font-awesome.css" rel="stylesheet">
    <title>test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--css-->
    <style type="text/css">
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 20%;
        position: fixed;
        height: 100%;
        overflow: auto;
    }
    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
        text-align:center;
    }
    li a.active {
        background-color: white;
        color: black;
   }     
    </style>

    <div class="block-quote">
        <div class="fl">
            <p style="color: #62a49a; font-size: 14px;" class="table_style">
                <span id="return"><a href="#"><i class="layui-icon">&#x1002;</i>返回</a></span>
                &nbsp;&nbsp;
                <span><a href="#"><i class="layui-icon">&#xe615;</i>个人中心</a></span>
            </p>
        </div>
    </div>
    <div>
        <!--左-->
        <div style="width:10%;float:left;background-color: rgb(242,242,242);">
                <ul>
                    <li><a class="active" href="#">基本资料</a></li>
                    <li><a href="#">修改密码</a></li>
                    <li><a href="#">用户设计</a></li>
                </ul>
        </div>
        <!--右-->
        <div style="width:90%;float:left;background-color:white;"></div>
    </div>
    
    
    
    <script type="application/javascript">
       /* $(function () {
           <script src="../components/js/product_audit.js">
            product_audit.init()
        })*/
    </script>
</div>