<div id='model-li-hide-27' class="display-component-container" style="padding: 20px 20px 20px 20px;">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div class="block-quote">
        <div class="fl">
            <p style="color: #62a49a; font-size: 14px;">
                <!--&#xe608;-->
                <span id="model_li_hide_add_27"><a href="#"><i class="layui-icon">&#xe640;</i>新增</a></span>&nbsp;
            </p>
        </div>
        <div class="fr">
            <p style="color: #62a49a; font-size: 14px;">
                <span id="model_li_hide_refresh_27"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span>
                &nbsp;&nbsp;
                <input type="text" id="input_fire_batch_num" placeholder="请输入炉窑批号"/> &nbsp;&nbsp;
                <span id="model_li_hide_search_27"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
            </p>
        </div>
    </div>

    <div class="whitespace"></div>
    <table id="kiln_Order_table" style="width: 100%;">
        <thead style="background: #666666;">
        <tr>
            <td>选择</td>
            <td>工艺单编号</td>
            <td>窑炉编号</td>
            <td>生效时间</td>
            <td>编制时间</td>
            <td>详情</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div id="kiln_Order_page">
    </div>
    <script src="../components/js/kiln_Order.js"></script>
    <script type="application/javascript">
        $(function () {
            kiln_Order.init()
        })
    </script>

    <div id='detail_modal' class="hide" style="padding: 30px 30px 30px 30px;">
        <div class="whitespace"></div>
        <table width="100%" style="border-left: 0px;border-right: 0px;">
           <tr>
                <td class="grey" width="20%" colspan="2">窑炉参数设定通知单</td>
                <td class="grey" width="20%">编制人</td>
                <td id="compactor"></td>
            </tr>
            <tr>
                <td class="grey" width="20%">工艺单编号</td>
                <td id="code"></td>
                <td class="grey" width="20%">审核人</td>
                <td id="product_num"></td>
            </tr>
            <tr>
                <td class="grey" width="20%">审核人</td>
                <td id="audit_man"></td>
                <td class="grey" width="20%">计划投入量</td>
                <td id="plan_amount"></td>
            </tr>
        </table>
        <div class="whitespace"></div>
        <table width="100%" style="border-left: 0px;border-right: 0px;">
            <tr class="grey">
                <td width="10%">序号</td>
                <td width="45%">入库编号</td>
                <td width="45%">报损数量</td>
            </tr>
            <tr>
                <td>1</td>
                <td>3823333333</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>3823333334</td>
                <td></td>
            </tr>
        </table>
        <div class="whitespace"></div>
        <!--审核人-->
        <div style="border: 1px solid #9F9F9F">
            <table width="100%" style="border-left: 0px;border-right: 0px;">
                <tr>
                    <td style="border: none">审批人：</td>
                    <td style="border: none;color: #9F9F9F">张经理</td>
                    <td style="border: none">审批结果：</td>
                    <td style="border: none;color: #9F9F9F">通过</td>
                    <td style="border: none">审批时间：</td>
                    <td style="border: none;color: #9F9F9F">2018年1月31日 12：21：23</td>
                </tr>
                <tr>
                    <td style="border: none">审批意见：</td>
                    <td style="border: none;color: #9F9F9F">数据正常，已经审核</td>
                </tr>
            </table>
        </div>
        <div class="whitespace"></div>
        <div id="a_result" >
            <span>审核结果： </span>
            <input type="radio" name="audit_result"/>同意&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="audit_result"/>不同意
        </div>
        <div class="whitespace"></div>
        <div id="suggestion">
            <span style="vertical-align: top">审核意见：</span>
            <textarea style="width: 88%; height:20%;"></textarea>
        </div>

        <div class="whitespace"></div>
        <div id="nextman" width="100%" style="border-left: 0px;border-right: 0px;">
            <span>下一审核人：</span>
            <select style="width: 20%">
                <option>审核人1</option>
                <option>审核人2</option>
                <option>审核人3</option>
            </select>
        </div>
        <div class="whitespace"></div>
    </div>
</div>