<div id='model-li-hide-43' class="display-component-container" style="padding: 20px 20px 0px 20px;">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div class="block-quote">
        <div class="fl">
            <p style="color: #62a49a; font-size: 14px;">
                <span id='model-li-hide-add-43'><a href="#"><i class="layui-icon">&#xe608;</i>新增</a></span>&nbsp;&nbsp;
                <span id="model-li-hide-delete-43"><a href="#"><i class="layui-icon">&#xe640;</i>删除</a></span>&nbsp;&nbsp;
        
            </p>
        </div>
        <div class="fr">
            <p style="color: #62a49a; font-size: 14px;">
                <span id="model-li-hide-refresh-43"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="guide_name_input"/>
                <span id="model-li-hide-search-43"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
            </p>
        </div>
    </div>
    <div class="whitespace"></div>
    <table id="guide_table" style="width: 100%;">
        <thead style="background: #666666;">
        <tr>
            <td><input type="checkbox" id="guide_checkbox"></td>
            <td>编号</td>
            <td>指导书名称</td>
            <td>生效时间</td>
            <td>编制</td>
            <td>审核</td>
            <td>批准</td>
            <td>详情</td>
            <td>编辑</td>
            <td>删除</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <!--3-->
    <div id="guide_page">
    </div>
    <script src="../components/js/guide_manage.js"></script>
    <script type="application/javascript">
        $(function () {
            guide_manage.init()
        })
    </script>
</div>
























