<div id='model-li-hide-51' class="display-component-container" style="padding: 20px 20px 20px 20px;">
    <meta charset="utf-8">
    <style>
        #verifytable td {
            border-top-style: none;
        }

        #verifytable {
            border: 1px;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div class="block-quote">
        <div class="fl">
            <p style="color: #62a49a; font-size: 14px;">
                <!--&#xe608;-->
                <span id='model-li-hide-add-51'>
                    <a href="#" id="addBtn">
                        <i class="layui-icon">&#xe608;</i>新增</a>
                </span>&nbsp;&nbsp;
                <span id="model-li-hide-delete-51">
                    <a href="#">
                        <i class="layui-icon">&#xe640;</i>删除</a>
                </span>
            </p>
        </div>
        <div class="fr">
            <p style="color: #62a49a; font-size: 14px;">
                <span id="model-li-hide-refresh-51"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span>
                &nbsp;&nbsp;
                <span style="color: #6b6b6b;">审核状态</span>
                <select name="audit_status_name" style="border-radius: 0;">
                    <option>选择审核状态</option>
                    <option value="1">状态1</option>
                    <option value="2">状态2</option>
                    <option value="3">状态3</option>
                </select>&nbsp;&nbsp;

                <span style="color: #6b6b6b;">开单日期</span>
                <select name="order_date_name" style="border-radius: 0;">
                    <option>选择开单日期</option>
                    <option value="1">日期1</option>
                    <option value="2">日期2</option>
                    <option value="3">日期3</option>
                </select>&nbsp;&nbsp;

                <span style="color: #6b6b6b;">产品型号</span>
                <select name="lib_manage_name" style="border-radius: 0;">
                    <option>选择产品型号</option>
                    <option value="1">型号1</option>
                    <option value="2">型号2</option>
                    <option value="3">型号3</option>
                </select>&nbsp;&nbsp;

                <span id="model-li-hide-search-51"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
            </p>
        </div>
    </div>

    <div class="whitespace"></div>
    <table id="product_out_table" style="width: 100%;">
        <thead style="background: #666666;">
        <tr>
            <!--<td><input id="mat_in_checkAll" type="checkbox"></td>-->
            <td class="checkBox_td"><input id="product_out_checkAll" type="checkbox"></td>
            <td>序号</td>
            <td>产品型号</td>
            <td>开单日期</td>
            <td>接收单位</td>
            <td>审批状态</td>
            <td class="edit_td">审核</td>
            <td class="edit_td">详情</td>
            <td class="edit_td">编辑</td>
            <td class="delete_td">删除</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div id="product_out_page" style="text-align:center;">
    </div>

    <script src="../components/js/pro_out_manage.js"></script>
    <script type="application/javascript">
        $(function () {
            pro_out_manage.init()
        })
    </script>
    <div id='verify_modal' class="hide" style="padding: 30px 30px 30px 30px;">
        <table width="100%" style="border-left: 0px;border-right: 0px;">
            <tr>
                <td class="grey" width="20%">入库单编号</td>
                <td width="40%"></td>
                <td class="grey" width="20%">产品型号</td>
                <td width="20%"></td>
            </tr>
            <tr>
                <td class="grey">制造部门</td>
                <td></td>
                <td class="grey">总量</td>
                <td></td>
            </tr>
            <tr>
                <td class="grey">缴库人</td>
                <td></td>
                <td class="grey">入库人</td>
                <td></td>
            </tr>
            <tr>
                <td class="grey">缴库时间</td>
                <td></td>
                <td class="grey">入库时间</td>
                <td></td>
            </tr>
        </table>
        <div class="whitespace"></div>

        <div class="whitespace"></div>
        <table width="100%" style="border-left: 0px;border-right: 0px;">
            <thead>
            <td style="color:black">序号</td>
            <td style="color:black">成品批号</td>
            <td style="color:black">单位</td>
            <td style="color:black">数量</td>
            <td style="color:black">状态</td>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div class="whitespace"></div>
        <div class="whitespace"></div>
        <table width="100%" style="border-left: 0px;border-right: 0px;border:1px solid #000000;" border="1"
               cellpadding="0" cellspacing="0"></table>
        <tr>
            <td>审批人：</td>
            <td></td>
            <td>审批结果：</td>
            <td></td>
            <td>审批时间：</td>
            <td></td>
        </tr>
        <tr>
            <td>审批意见:</td>
            <td></td>
        </tr>
        </table>
        <div class="whitespace"></div>
        <p>
            <span>审批意见：</span>
            <span><textarea name="" id="" style="width:100%;height:100px;" cols="5" rows="5"></textarea></span>
        </p>
    </div>
    <div id='detail_modal' class="hide" style="padding: 30px 30px 30px 30px;">
        <table width="100%" style="border-left: 0px;border-right: 0px;">
            <tr>
                <td class="grey" width="20%">入库单编号</td>
                <td width="40%"></td>
                <td class="grey" width="20%">产品型号</td>
                <td width="20%"></td>
            </tr>
            <tr>
                <td class="grey">制造部门</td>
                <td></td>
                <td class="grey">总量</td>
                <td></td>
            </tr>
            <tr>
                <td class="grey">缴库人</td>
                <td></td>
                <td class="grey">入库人</td>
                <td></td>
            </tr>
            <tr>
                <td class="grey">缴库时间</td>
                <td></td>
                <td class="grey">入库时间</td>
                <td></td>
            </tr>
        </table>

        <div class="whitespace"></div>
        <table width="100%" style="border-left: 0px;border-right: 0px;">
            <thead>
            <td style="color:black">序号</td>
            <td style="color:black">成品批号</td>
            <td style="color:black">单位</td>
            <td style="color:black">数量</td>
            <td style="color:black">状态</td>
            </thead>
            <tbody>
            <tr>
                <td style="color:black">1</td>
                <td style="color:black">170m108046906</td>
                <td style="color:black">t</td>
                <td style="color:black">200.00</td>
                <td style="color:black">已入库</td>
            </tr>
            <tr>
                <td style="color:black">1</td>
                <td style="color:black">170m108046907</td>
                <td style="color:black">t</td>
                <td style="color:black">200.00</td>
                <td style="color:black">已入库</td>
            </tr>
            </tbody>
        </table>
        <div class="whitespace"></div>

        <table width="100%" style="border-left: 0px;border-right: 0px;">
            <tr>
                <td>审批人：</td>
                <td>周玉凯</td>
                <td>审批结果：</td>
                <td>正常</td>
                <td>审批时间：</td>
                <td>2018-01-01</td>
            </tr>
            <tr class="no_border">
                <td>审批意见：</td>
                <td colspan="5"></td>
            </tr>
        </table>
    </div>

    <div id='add_modal' class="hide" style="padding: 30px 30px 30px 30px;">
        <table width="100%" style="border-left: 0px;border-right: 0px;">
            <tr>
                <td class="grey" width="20%">出库单编号</td>
                <td width="40%"></td>
                <td class="grey" width="20%">产品型号</td>
                <td width="20%"></td>
            </tr>
            <tr>
                <td class="grey">运输方式</td>
                <td></td>
                <td class="grey">总量</td>
                <td></td>
            </tr>
            <tr>
                <td class="grey">流程类型</td>
                <td></td>
                <td class="grey">/</td>
                <td></td>
            </tr>
            <tr>
                <td class="grey">申请时间</td>
                <td></td>
                <td class="grey">入库时间</td>
                <td></td>
            </tr>
        </table>
        <div class="whitespace" style="clear: both"></div>
        <div class="fr">
            <button id="add_addBtn" class="roundBtn">&nbsp;新增&nbsp;</button>
            &nbsp;&nbsp;
            <button class="roundBtn">&nbsp;删除&nbsp;</button>
        </div>
        <div class="whitespace" style="clear: both"></div>
        <table width="100%" id="add_modal_table">
            <tr class="grey">
                <td><input type="checkbox" id='add_checkAll'/></td>
                <td>序号</td>
                <td>成品批号</td>
                <td>单位</td>
                <td>数量</td>
                <td>状态</td>
            </tr>
            <tr>
                <td><input type="checkbox" class='add_checkbox'/></td>
                <td>1</td>
                <td>38233333</td>
                <td>t</td>
                <td>32</td>
                <td>已入库</td>
            </tr>
            <tr>
                <td><input type="checkbox" class='add_checkbox'/></td>
                <td>2</td>
                <td>38233333</td>
                <td>t</td>
                <td>32</td>
                <td>已入库</td>
            </tr>
            <tr>
                <td><input type="checkbox" class='add_checkbox'/></td>
                <td>3</td>
                <td>38233333</td>
                <td>t</td>
                <td>32</td>
                <td>已入库</td>
            </tr>
            <tr>
                <td><input type="checkbox" class='add_checkbox'/></td>
                <td>4</td>
                <td>38233333</td>
                <td>t</td>
                <td>32</td>
                <td>已入库</td>
            </tr>
        </table>
    </div>
    <!--新增界面里面的新增-->
    <div id='add_modal1' class="hide" style="padding: 30px 30px 30px 30px;">
        <div class="block-quote">
            <div class="fl">
                <p style="color: #62a49a; font-size: 14px;">
                    <span style="color: black;">原料类型</span>
                    <select name="material_type" style="border-radius: 0;">
                        <option>选择原料类型</option>
                        <option value="1">类型1</option>
                        <option value="2">类型2</option>
                        <option value="3">类型3</option>
                    </select>&nbsp;&nbsp;

                    <span style="color: black;">批号 <input placeholder="请输入批号" id="product_batch_number_input"/></span>
                </p>
            </div>
            <div class="fr">
                <p style="color: #62a49a; font-size: 14px;">
                    <input type="button" value="查询">
                </p>
            </div>
        </div>

        <div class="whitespace" style="clear: both"></div>

        <table width="100%" id="add_modal1_table">
            <thead>
            <tr class="grey">
                <td><input type="checkbox" id='add1_checkAll'/></td>
                <td class="normal_td">批号</td>
                <td class="normal_td">可用数量</td>
                <td class="normal_td">单位</td>
                <td class="normal_td">检验状态</td>
                <td class="normal_td">详情</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="checkbox" class='add1_checkbox'/></td>
                <td>38233333</td>
                <td>100</td>
                <td>kg</td>
                <td>已检验</td>
                <td><a href="#" class='detail' id='detail-1'><i class="layui-icon">&#xe60a;</i></a></td>
            </tr>
            <tr>
                <td><input type="checkbox" class='add1_checkbox'/></td>
                <td>38233334</td>
                <td>33</td>
                <td>kg</td>
                <td>已检验</td>
                <td><a href="#" class='detail' id='detail-2'><i class="layui-icon">&#xe60a;</i></a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id='editor_modal' class="hide" style="padding: 30px 30px 30px 30px;">
        <table width="100%" style="border-left: 0px;border-right: 0px;">
            <tr>
                <td class="grey" width="20%">出库单编号</td>
                <td width="40%"></td>
                <td class="grey" width="20%">产品型号</td>
                <td width="20%"></td>
            </tr>
            <tr>
                <td class="grey">运输方式</td>
                <td></td>
                <td class="grey">总量</td>
                <td></td>
            </tr>
            <tr>
                <td class="grey">流程类型</td>
                <td></td>
                <td class="grey">/</td>
                <td></td>
            </tr>
            <tr>
                <td class="grey">申请时间</td>
                <td></td>
                <td class="grey">入库时间</td>
                <td></td>
            </tr>
        </table>
        <div class="whitespace"></div>
        <div class="fr">
            <button id="edit_addBtn" class="roundBtn">&nbsp;新增&nbsp;</button>
            &nbsp;&nbsp;
            <button id="edit_deleteBtn" class="roundBtn">&nbsp;删除&nbsp;</button>
        </div>
        <div class="whitespace" style="clear: both"></div>
        <table width="100%" id="edit_modal_table">
            <tr class="grey">
                <td class="checkBox_td"><input type="checkbox" id='edit_checkAll'/></td>
                <td>序号</td>
                <td>成品批号-周玉凯</td>
                <td>单位</td>
                <td>数量</td>
                <td>状态</td>
            </tr>
            <tr>
                <td><input type="checkbox" class='edit_checkbox'/></td>
                <td>1</td>
                <td>38233333</td>
                <td>t</td>
                <td>32</td>
                <td>已入库</td>
            </tr>
            <tr>
                <td><input type="checkbox" class='edit_checkbox'/></td>
                <td>2</td>
                <td>38233333</td>
                <td>t</td>
                <td>32</td>
                <td>已入库</td>
            </tr>
            <tr>
                <td><input type="checkbox" class='edit_checkbox'/></td>
                <td>3</td>
                <td>38233333</td>
                <td>t</td>
                <td>32</td>
                <td>已入库</td>
            </tr>
            <tr>
                <td><input type="checkbox" class='edit_checkbox'/></td>
                <td>4</td>
                <td>38233333</td>
                <td>t</td>
                <td>32</td>
                <td>已入库</td>
            </tr>
        </table>
    </div>
</div>

