<div id='model-li-hide-52' class="display-component-container" style="padding: 20px 20px 20px 20px;">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div class="block-quote">
        <div class="fl">
            <p style="color: #62a49a; font-size: 14px;">
                <!--&#xe608;-->
                <span id='model-li-hide-add-52'><a href="#"><i class="layui-icon"></i>盘库管理</a></span>&nbsp;&nbsp;
                <!--<span id="model-li-hide-delete-48"><a href="#"><i class="layui-icon">&#xe640;</i>删除</a></span>-->
            </p>
        </div>
        <div class="fr">
            <p style="color: #62a49a; font-size: 14px;">
                <span id="model-li-hide-refresh-52"><a href="#"><i class="layui-icon">&#x1002;</i>刷新</a></span>
                &nbsp;&nbsp;
                <span style="color: #6b6b6b;">审核状态</span>
                <select name="lib_manage_name" style="border-radius: 0;">
                    <option>选择审核状态</option>
                    <option value="1">状态1</option>
                    <option value="2">状态2</option>
                    <option value="3">状态3</option>
                </select>&nbsp;&nbsp;
                <span id="model-li-hide-search-52"><a href="#"><i class="layui-icon">&#xe615;</i>搜索</a></span>
            </p>
        </div>
    </div>

    <div class="whitespace"></div>
    <table id="lib_manage_table" style="width: 100%;">
        <thead style="background: #666666;">
        <tr>
            <!--<td><input id="mat_in_checkAll" type="checkbox"></td>-->
            <td>序号</td>
            <td>物料类型</td>
            <td>物料名称</td>
            <td>库存数量</td>
            <td>审核状态</td>
            <td>盘库</td>
        </tr>
        </thead>
        <!--<td><input type="checkbox" class="mat_in_checkbox"></td>-->
        <tbody>
        <tr>
            <td>1</td>
            <td>XX类型</td>
            <td>XX物料</td>
            <td>10</td>
            <td>待审核</td>
            <td><a href="#" class='edit'><i class="layui-icon">&#xe6b2;</i></a></td>
        </tr>
        <tr>
            <!--<td><input type="checkbox" class="mat_in_checkbox"></td>-->
            <td>2</td>
            <td>XX类型</td>
            <td>XX物料</td>
            <td>20</td>
            <td>待审核</td>
            <td><a href="#" class='detail'><i class="layui-icon">&#xe6b2;</i></a></td>
        </tr>
        </tbody>
    </table>
    <script src="../components/js/plate_manage.js"></script>
    <script type="application/javascript">
        $(function () {
            plate_manage.init()
        })
    </script>
    <div id="edit_modal" class="hide" style="padding: 30px 30px 30px 30px;">
        <table width="100%">
            <tr>
                <td class="grey" width="20%">报损单编号</td>
                <td width="30%">系统生成</td>
                <td class="grey" width="20%">物料类型</td>
                <td width="30%">继承</td>
            </tr>
            <tr>
                <td class="grey">物料名称</td>
                <td>继承</td>
                <td class="grey">盘库数量</td>
                <td>继承</td>
            </tr>
            <tr>
                <td class="grey">总量</td>
                <td>根据明细求和</td>
                <td class="grey">流程类型</td>
                <td><select>
                    <option>流程1</option>
                    <option>流程2</option>
                    <option>流程3</option>
                </select></td>
            </tr>
            <tr>
                <td class="grey">报损人</td>
                <td>当前用户</td>
                <td class="grey">审核状态</td>
                <td>待审核</td>
            </tr>
            <tr>
                <td class="grey">报损时间</td>
                <td>2018年5月4日16：26：28</td>
            </tr>
        </table>
        <div class="whitespace"></div>
        <input type="button" value="新增">
        <div class="whitespace"></div>
        <table width="100%">
            <tr class="grey">
                <td>序号</td>
                <td>入库编号</td>
                <td>报损数量</td>
                <td>删除</td>
            </tr>
            <tr>
                <td>1</td>
                <td>382333333</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>382333334</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>