#item-selectable li {
	pointer-events: auto; border: none; background: transparent; color: #000;
	position: relative; left: 18px;
}
#contents .con_top {
    padding: 40px 15px 0 15px;
}
#map-items {
	min-height: 90px; background-color: rgba(0,0,8,0.5);
}
#item-selectable {
	pointer-events: none;
}
#contents .con_top .top_left {
	background: none;
}
#contents .con_top .top_right {
	float: right; position: absolute; right: 64px; top: 125px;
}
#but-modall {
	margin-left: 4px;
}
#but-mod {
	position: absolute; 
	top: 159px; right: 127px;
}
#but-back {
	position: absolute;
	top: 159px;right: 63px;
}
#fields .button-glaw {
	pointer-events: none;
	border-width: 1.9px;
}
#fields .localXM, #fields .localYM, #fields .localZM, #fields .name {
	border-color: #1B9AF7; height: 23px; border-width: 1.9px; font-size: 14px; font-family: MicrosoftYaHei;
	position: relative; top: -2px; border-radius: 6px; outline: none;
}
#fields #chooseZone {
	position: relative; top: -3px;
	height: 35px; border-radius: 6px; 
}
#fields .name {
	pointer-events: none;
}
#fields {
	padding-left: 4px; height: 35px;
}
#fields>:nth-child(4) span { 
	position: relative; top: -18px; right: 28px;
}
#fields>:nth-child(5) {
	position: relative; top: -32px; 
}
#fields>:nth-child(5)>:nth-child(1) {
	position: relative; left: 10px; background-color: #00A2E9; color: #fff;
	padding: 0 25px;
}
#fields>:nth-child(5)>:nth-child(2) {
	position: relative; padding: 0 15px;
}
#fields>:nth-child(6) {
	position: relative; top: -32px; 
}
#fields>:nth-child(6)>:nth-child(1) {
	position: relative; left: 10px; background-color: #00A2E9; color: #fff;
	padding: 0 10px;
}
#fields>:nth-child(6) a {
	margin-left: 4px;
}
#fields>:nth-child(7) {
	position: relative; top: -32px; 
}
#fields>:nth-child(7)>:nth-child(1) {
	position: relative; left: 10px; background-color: #00A2E9; color: #fff;
	padding: 0 10px;
}
#fields>:nth-child(8) {
	position: relative; top: -32px; 
}
#fields>:nth-child(8)>:nth-child(1) {
	position: relative; left: 10px; background-color: #00A2E9; color: #fff;
	padding: 0 10px;
}
.icon-rap-wifi-master {
	background: none;
}
.bootstrap-switch-label {
	pointer-events: none;
}
#item-selectable li .button-plain {
	pointer-events: none;
}
.button-border.button-plain:hover {
	border-color: #1B9AF7; color: #1B9AF7;
}
.checked, .checked i, .button-border.button-plain:focus, .button-border.button-plain:active {
	/* border-color: blue; color: blue; */
	background-color: #1B9AF7; color: white; opacity:1;
}
.li-select .button{
	width: 130%;
}
#map-gruler-top {
	z-index: 1;
}
#fields input[type="text"] {
	height: 23px;
}
/*标尺*/
#map-gruler-top {
    position: absolute;
    border-left: solid 1px #000000;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    padding: 2px 0 0 0;
    margin: 0px;
    left: 27px;
    top: 0px;
    height: 24px;
    z-index: 99;
    background-color: #fff;
}
#map-gruler-left {
    position: absolute;
    border-top: solid 1px #000000;
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
    padding: 0px 0px 0 10px;
    margin: 0px;
    left: 0px;
    top: 27px;
    width: 16px;
    z-index: 100;
    background-color: #fff;
}
#map-viewport {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 27px;
    top: 27px;
    background-color: #fff;
}
#map-gruler-top>svg {
	top: 7.1875px !important;
}
#map-viewport>svg {
	left: 1px;
}
#viewport {
    top: -30px;
}
.con_box>div>:first-of-type {
    background-color: rgba(0,0,8,0.5);
    min-height: 5px;
}
/*页签*/
#tab li a {
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}
.ui-state-default a:hover {
	color: #ffffff;
    text-decoration: none;
}
