p a{
	pointer-events: none;
}
.ui-selectable li .button {
	background: #fff;
}
.ui-selectable li {
	border: none;
	background: transparent;
}
.ui-selectable li a{
	border: 1px solid #00A2E9;
	color: #00A2E9;
}
.ui-selectable li.ui-selected a {
	background: #00A2E9;
	color: #fff;
}
.ui-selectable .ui-selected, .ui-selectable .ui-selecting {
	background: none;
    color: #fff;
    text-decoration: none;	
    border: none;
}
#panels>a.button {
	background: transparent;
	color: #fff;
	pointer-events: none;
}
#panels-datas {
	display: inline-block;
}
.tb_sec>#panels:nth-child(4)>:nth-child(1) {
	position: relative; top: -13px;
}
.tb_sec>#panels:nth-child(4) #panels-datas {
	position: relative; top: 5px; left:-26px;
}
.tb_sec>#panels:nth-child(4) #panels-datas a {
	padding: 0 20px;
}
.tb_sec>#panels:nth-child(6) #speed, .tb_sec>#panels:nth-child(6) span {
	position: relative; left: 22px;
}
.tb_sec>#panels:nth-child(8) #time, .tb_sec>#panels:nth-child(8) span {
	position: relative; left: 22px;
}
.tb_sec>#panels:nth-child(10) #angle, .tb_sec>#panels:nth-child(10) span {
	position: relative; left: 25px;
}
.tb_sec>#panels:nth-child(12) #tdoaRatio, .tb_sec>#panels:nth-child(12) span {
	position: relative; left: -2px;
}
.tb_sec>#panels:nth-child(14)>div {
	position: relative;
	left: -3px;
}
.tb_sec>#panels:nth-child(15)>div {
	position: relative;
	left: -29px;
}
.tb_sec>#panels:nth-child(16) #rngmgn, .tb_sec>#panels:nth-child(16) span {
	position: relative; left: -13px;
}
.tb_sec>#panels:nth-child(17) #grad {
	position: relative; left: 23px;
}
.tb_sec>#panels:nth-child(21) #thresh {
	position: relative; left: -4px;
}
.tb_sec>#panels:nth-child(22) #grad, .tb_sec>#panels:nth-child(22) span {
	position: relative; left: 19px;
}
.tb_sec>#panels:nth-child(23) #ballEuid, .tb_sec>#panels:nth-child(23) span {
	position: relative; left: 9px;
}
.tb_sec>#panels:nth-child(25)>:nth-child(1) {
	position:relative; top: -18px;
}
.tb_sec>#panels:nth-child(25) #panels-datas  {
	position:relative; left: -22px;
}
.tb_sec>#panels:nth-child(25) #panels-datas a {
	padding: 0 10px;
}
.tb_sec>#panels:nth-child(26)>:nth-child(1) {
	position:relative; top: -18px;
}
.tb_sec>#panels:nth-child(26) #panels-datas {
	position:relative; left: -9px;
}
.tb_sec>#panels:nth-child(26) #panels-datas a {
	padding: 0 10px;
}
.tb_sec>#panels:nth-child(27) #but-config {
	background-color: #fff;
	color: #00A2E9;
	border: 1px solid #00A2E9;
}
.tb_sec>#panels:nth-child(27) #but-config:hover {
    color: white;
    background-color: #00A2E9;
}
.button {
	height: 37px;
	font-family: "Microsoft YaHei";
	font-size: 13px;
	line-height: 37px;
}
#contents .con_middle {
	color: #fff;
}
#but-tagselect {
	position: relative;
	top: 3px; height: 35px;
	left: 10px;
	border: 1px solid #00A2E9;
    padding: 0 8px; background-color: #fff;
	color: #00A2E9;
	border: 1px solid #00A2E9;
}
#but-tagselect:hover {
    color: white;
    background-color: #00A2E9;
}













