
#item-selectable li {
	pointer-events: auto; border: none; background: transparent; color: #000;
}
#item-selectable {
	position: relative; left: 18px;
	pointer-events: none;
}
#contents .con_top .top_left {
	background: none;
}
#contents .con_top .top_right {
	float: right; position: absolute; right: 64px; top: 120px;
}
#but-modall {
	margin-left: 4px;
}
#but-mod {
	position: absolute; 
	top: 167px; right: 127px;
}
#but-back {
	position: absolute;
	top: 167px; right: 63px;
}
#fields .button-glaw {
	pointer-events: none; border-width: 1.9px;
	padding-left: 35px; padding-right: 35px;
}
#fields .localXM, #fields .localYM, #fields .localZM, #fields .name, #fields #description, #fields input[type="text"] {
	border-color: #1B9AF7; height: 23px; border-width: 1.9px; font-size: 14px; font-family: MicrosoftYaHei;
	position: relative; top: -2px; border-radius: 6px; outline: none;
}
#fields #zoneType {
	height: 35px; position: relative; top: -2px; border-color: #1B9AF7; border-width: 1.9px;
}
#fields #networkType {
	height: 35px; position: relative; top: -2px; border-color: #1B9AF7; border-width: 1.9px;
}
#fields .name {
	pointer-events: none;
}
#fields {
	padding-left: 4px; height: 82px;
}
.icon-rap-wifi-master {
	background: none;
}
.icon-rap-wifi-slave {
	background: none;
}
.icon-rap-wifi-selected {
	background: none;
}
.bootstrap-switch-label {
	pointer-events: none;
}
#item-selectable li.slave .button-plain:hover {
	border-color: #1B9AF7; color: #1B9AF7; 
}
#item-selectable li.slave .button-plain:focus {
	border-color: #1B9AF7; color: white; background-color: #1B9AF7;
}
#item-selectable li.master .button-plain:hover ,#item-selectable li.master .button-plain{
	border-color: green; color: green;
}
#item-selectable li.master .button-plain:focus {
	border-color: green; color: white; background-color: green;
}
#item-selectable li .button-plain {
	pointer-events: none;
}
p.slave .button-plain:hover {
	border-color: #1B9AF7; color: #1B9AF7; 
}
p.slave .button-plain:focus {
	border-color: #1B9AF7; color: white; background-color: #1B9AF7;
}
p.master .button-plain:hover ,p.master .button-plain, p.icon-rap-wifi-master .button-plain:hover ,p.icon-rap-wifi-master .button-plain {
	border-color: green; color: green;
}
p.add-master .button-plain{
	border-color: green; color: green;
}
p.master .button-plain:focus {
	border-color: green; color: white; background-color: green;
}
p .button-plain {
	pointer-events: none; cursor: pointer;
}
p.ad-master .button-plain{
	border-color: green; color: white; background-color: green;
}
p.ad-slave .button-plain {
	border-color: #1B9AF7; color: white; background-color: #1B9AF7;
}
.rap-selectable .ui-selected {
	background: transparent;
}

.button-border.button-plain:hover {
	border-color: #1B9AF7; color: #1B9AF7;
}
.masterchecked, .masterchecked i, .button-border.button-plain:focus, .button-border.button-plain:active {
	background-color: green; color: white; opacity:1;
}
.slavechecked, .slavechecked i, .button-border.button-plain:focus, .button-border.button-plain:active {
	background-color: #1B9AF7; color: white; opacity:1;
}

#fields>:nth-child(5)>:nth-child(1), #fields>:nth-child(6)>:nth-child(1), #fields>:nth-child(7)>:nth-child(1), #fields>:nth-child(8)>:nth-child(1),
#fields>:nth-child(9)>:nth-child(1), #fields>:nth-child(10)>:nth-child(1), #fields>:nth-child(11)>:nth-child(1), #fields>:nth-child(12)>:nth-child(1),
#fields>:nth-child(13)>:nth-child(1) {
	position: relative; left: 10px; background-color: #00A2E9; color: #fff;
	padding: 0 10px;
}
#fields>:nth-child(9)>:nth-child(2) {
	position: relative; top: -3px; 
}
#fields>:nth-child(9), #fields>:nth-child(10), #fields>:nth-child(11),#fields>:nth-child(12),#fields>:nth-child(13) {
	position: relative; top: 6px;
}
#map-items {
	background-color: rgba(0,0,8,0.5);
    min-height: 100px;
}
.top_mid {
	color: #fff;
}
#item-selectable li.master .dead {
	border-color: #828282;
}
#item-selectable li.slave .dead {
	border-color: #828282;
}
p.master .dead {
	border-color: #828282;
}
p.slave .dead {
	border-color: #828282;
}
/*标尺*/
#map-gruler-top {
    position: absolute;
    border-left: solid 1px #000000;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    padding: 2px 0 0 0;
    margin: 0px;
    left: 27px;
    top: 0px;
    height: 24px;
    z-index: 99;
    background-color: #fff;
}
#map-gruler-left {
    position: absolute;
    border-top: solid 1px #000000;
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
    padding: 0px 0px 0 10px;
    margin: 0px;
    left: 0px;
    top: 27px;
    width: 16px;
    z-index: 100;
    background-color: #fff;
}
#map-viewport {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 27px;
    top: 27px;
    background-color: #fff;
}
#map-gruler-top>svg {
	top: 7.1875px !important;
}
#map-viewport>svg {
	left: 1px;
}
#viewport {
    top: -30px;
}
.con_box>div>:first-of-type {
    background-color: rgba(0,0,8,0.5);
    min-height: 55px;
}

