.table_list th {
	background : none #00A2E9; border: 0; color: #fff;
}
#items tbody tr:nth-child(even) {
	background-color: #c9caca;
}
.ui-selectable .ui-selected {
	background: #00A2E9; color: #fff;
}
.ui-selectee {
	background: transparent; color: #000; border: none;
}



