.table_list th {
	background : none #00A2E9; border: 0; color: #fff;
}
#items tbody tr:nth-child(even) {
	background-color: #c9caca;
}
#items tbody tr:nth-child(odd) {
	background-color: #fff;
}
#search-fields label {
	background: none #00A2E9; color: #fff; width: 80px;
}
#search-fields #searchType {
	border-color: #00A2E9; height:31px; margin: 1px 0;
}
#search-fields input {
	border-color: #00A2E9; height:19px; margin: 1px 0;
}
#type-selectable li{
	border-color: #00A2E9;
}
#search-fields li{
	border-color: #00A2E9;
}
.ui-selectable {
	margin: 1px 0;
}
.paginate a span.num_on {
	background: #00A2E9;
	border: 1px solid #00A2E9; 
}
#items thead tr {
	height: 40px;
}
#search-form {
	padding-top: 30px;
}
.ui-selectable .ui-selected, .ui-selectable .ui-selecting {
	background: #00a2e9;
}
#but-search {
	position: absolute;
	top: 96px;
}