
.table_list th {
	background : none #00A2E9; border: 0; color: #fff;
}
#items {
	margin: 20px auto;
}
#items thead tr {
	height: 40px;
	font-size: 14px;
	border-right: 2px #00a2e9 solid;
}
#items tbody tr:nth-child(even) {
	background-color: #c9caca;
}
#items tbody tr:nth-child(odd) {
	background-color: #fff;
}
#items tbody td>span {
	position: relative;
}
#items .checkbox .input_check {
	position: absolute;visibility: hidden;
}
#items .checkbox .input_check+label {
	display: inline-block;width: 16px;height: 16px;border: 1px solid #00A2E9;
}
#items .checkbox .input_check:checked+label:after {
	content: "";position: absolute;
	left: 2px;bottom: 12px;width: 9px;height: 4px;
	border: 2px solid #fd8845;border-top-color: transparent;
	border-right-color: transparent;
	-ms-transform: rotate(-60deg); 
	-moz-transform: rotate(-60deg); 
	-webkit-transform: rotate(-60deg); 
	transform: rotate(-45deg);
} 
.paginate a span.num {
	border: 0px; font-size: 20px; color: #c9caca; 
}
.paginate .fa-angle-double-left {
	position:relative; top:2px; left:-5px;
}
.paginate .fa-angle-double-right {
	position:relative; top:2px; right:-5px;
}
.paginate a span.num_on {
	background: #00A2E9;
	color: #fff; border: none;
}
.button-small {
	padding : 0 20px;
}
.ui-tabs .ui-tabs-nav {
	background:transparent; border:0;
	position: relative; top: 1px; left: 0px; z-index: 1;
	border-color: transparent;
}
.jstree-default.jstree-focused {
	background: none;
}
#contents .con_middle {
	padding-top: 20px;
}
.paginate a span.num_on {
    background: #00A2E9;
    color: #fff;
    border: none;
    font-family: Arial;
    font-size: small;
    padding: 3px 0 5px;
}
.paginate a span.num {
    border: 0px;
    font-size: small;
    color: #c9caca;
}
.paginate {
    width: 100%;
    clear: both;
    text-align: center;
    padding-top: 37px;
    font-family: "Arial", Dotum, Gulim, AppleGothic, Sans-serif, Arial;
}


