/*每日统计页面样式修改*/
#search-fields p { /*查看日期样式*/
	position: absolute;
    right: 17px;
}
#search-fields label { /*日期样式*/
    width: 45px;
    float: left;
    height: 20px;
    border: 0px solid #dddddd; 
    background: rgba(0,0,8,0.35);
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
	font-weight: normal;
    color: #00A2E9;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin-right: 4px;
}
#search-fields select { /*年份选择样式*/
    background-color: rgba(0,0,8,0.35);
    border: 0px solid #dcdcdc;
    color: #fff;
    font-size: 12px;
    height: 30px;
    padding: 5px;
    margin-right: 4px;
}
.yearText {
	background-color: rgba(0,0,8,0.35);
    color: #00A2E9;
    font-size: 12px;
    height: 30px;
    padding: 8px;
}
#search-fields .input-readonly { /*日期选择样式*/
    background-color: rgba(0,0,8,0.35);
    border: 0px solid #dcdcdc;
    color: #fff;
    font-size: 12px;
    height: 20px;
    padding: 5px;
}
#but-search {
    border: 1px solid #dddddd;
    background: #f6f6f6 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #0073ea;
    border: 0px solid #dddddd;
    background: rgba(0,0,8,0.35);
    font-weight: normal;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    height: 30px;
    color: #00A2E9;
}
#but-search:hover {
    border: 0px solid #0073ea;
    background: #00A2E9;
	font-weight: normal;
    color: #ffffff;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}