/*统计数据页面回放子页面样式修改*/
#layout .header { /*页首修改*/
    height: 55px;
}
#layout .container { /*主背景*/
    overflow: hidden;
    background: -webkit-radial-gradient(circle, #00A2E9 5%, #183A6A 100%);
    background: -o-radial-gradient(circle, #00A2E9 5%, #183A6A 100%);
    background: -moz-radial-gradient(circle, #00A2E9 5%, #183A6A 100%);
    background: radial-gradient(circle, #00A2E9 5%, #183A6A 100%);
    min-height: 600px;
}
#contents {
	margin: 10px;
}
