/*统计数据页面区域子页面样式修改*/
#layout .header { /*页首修改*/
    height: 55px;
}
#layout .container { /*主背景*/
    overflow: hidden;
    background: -webkit-radial-gradient(circle, #00A2E9 5%, #183A6A 100%);
    background: -o-radial-gradient(circle, #00A2E9 5%, #183A6A 100%);
    background: -moz-radial-gradient(circle, #00A2E9 5%, #183A6A 100%);
    background: radial-gradient(circle, #00A2E9 5%, #183A6A 100%);
    min-height: 600px;
}
#tab li { /*日 月 年*/
    padding: 0 20px 0 20px;
    border: 0;
    margin: 0;
    position: relative;
    min-width: 0;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    margin-top: 10px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    width: 135px;
}
#search-form {
	padding: 15px;
}
#search-fields label { /*日期样式*/
    width: 45px;
    float: left;
    height: 20px;
    border: 0px solid #dddddd; 
    background: rgba(0,0,8,0.35);
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
	font-weight: normal;
    color: #00A2E9;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin-right: 4px;
}
#search-fields .input-readonly { /*日期选择样式*/
    background-color: rgba(0,0,8,0.35);
    border: 0px solid #dcdcdc;
    color: #fff;
    font-size: 12px;
    height: 20px;
    padding: 5px;
}
#but-search {
    background: #f6f6f6 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #0073ea;
    border: 0px solid #dddddd;
    background: rgba(0,0,8,0.35);
    font-weight: normal;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    height: 30px;
    color: #00A2E9;
    padding: 0 10px 0 10px;
}
#but-search:hover {
    border: 0px solid #0073ea;
    background: #00A2E9;
	font-weight: normal;
    color: #ffffff;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}
#but-export {
    background: #f6f6f6 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #0073ea;
    border: 0px solid #dddddd;
    background: rgba(0,0,8,0.35);
    font-weight: normal;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    height: 30px;
    color: #00A2E9;
    padding: 0 10px 0 10px;
    float: right;
}
#but-export:hover {
    border: 0px solid #0073ea;
    background: #00A2E9;
	font-weight: normal;
    color: #ffffff;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}
#but-tag {
	background: #f6f6f6 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #0073ea;
    border: 0px solid #dddddd;
    background: rgba(0,0,8,0.35);
    font-weight: normal;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    height: 30px;
    color: #00A2E9;
    padding: 0 10px 0 10px;
}
#but-tag:hover {
    border: 0px solid #0073ea;
    background: #00A2E9;
	font-weight: normal;
    color: #ffffff;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}
.tabSelect-active { /*选中状态标签页*/
    background: url(/resources/service/images/zoodac/map_page_title.png) no-repeat;
    background-color: rgba(0,0,8,0.5);
    background-position-y: initial;
    background-position-x: -1px;
}

.tabSelect-default { /*未选中状态标签页*/
    font-weight: normal;
    background-color: rgba(0,0,8,0.35);
}

.tabSelect-default a {
	color: #0073ea;
	text-decoration: none;
}
.tab-hover a {
	color: #fff;
	text-decoration: none;
}
.textColor a {
	color: #ff8000;
}

.con_box>div>:first-of-type {
    background-color: rgba(0,0,8,0.5);
    width: 100%;
    height: calc;
    min-height: 50px;
}
#tab { /*旧样式覆盖移除*/
    padding: 0 14px;
    background: none;
    border: 0px;
}
.ui-tabs .ui-tabs-nav { /*旧样式覆盖移除*/
    position: relative;
    top: 0px;
    z-index: 1;
    left: -2px;
    background: transparent;
    border-color: transparent;
}
#contents .con_box { /*旧样式覆盖移除*/
    border: 0px solid;
}
.con_title { /*旧样式覆盖移除*/
	display: none;
}