.ui-widget-content {
    border: 1px solid #dddddd;
    background: #f7f7f7;
    color: #444444;
    
}
.ui-dialog {
    position: absolute;
    height: auto;
    width: 800px;
    top: 349px;
    left: 876.5px;
    display: block;
    z-index: 101;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 17px #4c4c4c;
}
.ui-widget-header {
    border: 1px solid #dddddd;
    background: transparent;
    color: #444444;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #00A2E9;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}
#fields {
    display: inline-block;
    width: 96%;
    padding: 10px;
    margin-top: 10px;
    border: 0px solid #dddddd;
    margin-left: 7px;
}
#fields label {
    width: auto;
    display: block;
    float: left;
    border-top: 0px solid #eaeaea;
    border-left: 0px solid #4f3d6d;
    border-right: 0px solid #dddddd;
    border-bottom: 0px solid #eaeaea;
    font-weight: bold;
    color: #444444;
    text-align: center;
    padding: 5px 5px 5px 5px;
    background: transparent;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
#fields input[type="text"] {
    border: 1px solid #00A2E9;
    color: #666666;
    font-size: 12px;
    padding: 5px;
    height: 18px;
    background: transparent;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    margin: 7px;
}
#fields input[type="password"] {
    border: 1px solid #00A2E9;
    color: #666666;
    font-size: 12px;
    padding: 5px;
    height: 18px;
    background: transparent;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    margin: 7px;
}
.ui-dialog-buttonset button:hover {
    background-color: #00A2E9;
    color: #fff;
}
.ui-dialog-buttonset button {
    background-color: transparent;
    border: 0px solid #00a2e9;
    padding: 3px 5px 3px 5px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    margin-right: 10px;
}
.ui-dialog .ui-dialog-titlebar-close {
	background: url("/resources/service/images/zoodac/remove.png") no-repeat; 
	background-size: 70%;
	outline: none; 
	cursor: pointer;
	right: 8px;
}
.ui-dialog .ui-dialog-titlebar-close:hover {
	background: url("/resources/service/images/zoodac/remove-hove.png") no-repeat; 
	background-size: 70%;
	outline: none; color: #fff; 
}